<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEMwwF5Z0IXb05rZvM8Ei9tx3uf6XT1ww</string>
	<key>GCM_SENDER_ID</key>
	<string>326792165761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bellExchange</string>
	<key>PROJECT_ID</key>
	<string>bell-exchange-abda4</string>
	<key>STORAGE_BUCKET</key>
	<string>bell-exchange-abda4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326792165761:ios:f5859b8379bb7f7df21080</string>
</dict>
</plist>